In [1]:
import jettool.dataset.finreport as fp
fp.api_key = "GDEy0mWAGqnI3EemCREGREZMcEVbnF"

In [2]:
fp.inital_report()
fp.params.accountData.head(3)

,id,code,acseq,cname,ename,unit,cgrp,egrp
None,,,,,,,,
3533,AIM4,1129,787,BS以成本衡量之金融負債－流動,BS-Financial liabilities carried at cost - Cur...,T,停止維護,Disable Maintenance
3720,AIM4,012N,779,BS以成本衡量之金融資產－流動,"BS-Current financial assets at cost, net",T,停止維護,Disable Maintenance
4734,AIHM4,0840,862,BS其他金融資產（IFRS),"BS-Other financial assets, net (IFRS)",T,停止維護,Disable Maintenance

In [3]:
fp.get_by_cgrp(['損益表'])

0          不動產、廠房及設備減損損失
1        不動產、廠房及設備減損迴轉利益
2        不重分類至損益項目合計－OCI
3                   佣金費用
4               保證責任準備提存
             ...
254       非金融資產減損損失及迴轉利益
255             預期信用減損利益
256         預期信用減損（損失）利益
257    預期信用減損（損失）利益－營業費用
258                顧問費收入
Name: cname, Length: 259, dtype: object

In [4]:
acc_names = fp.get_by_word('常續性').values.tolist()
acc_names

['常續性稅後淨利', '近四季常續性每股盈餘']

In [5]:
acc_codes = fp.get_acc_code(acc_names)
acc_codes

['R535', 'R531']

In [6]:
fp.get_announce(sample_dates=['2015-01-02','2019-01-02']).head(3)

      coid                     mdate                     zdate
None
0     2002 2018-09-01 00:00:00+00:00 2018-11-12 00:00:00+00:00
1     2330 2018-09-01 00:00:00+00:00 2018-11-13 00:00:00+00:00
2     2882 2018-09-01 00:00:00+00:00 2018-11-29 00:00:00+00:00

In [7]:
fp.get_report(query_code=acc_codes,sample_dates=['2015-01-02','2019-01-02']).head(3)

成功查詢會計家數:3

   coid      mdate      zdate  近四季常續性每股盈餘     常續性稅後淨利      ndate
0  2002 2018-09-01 2018-11-12        1.62   9066554.0 2019-03-01
1  2330 2018-09-01 2018-11-13       13.61  90012762.0 2019-03-01
2  2882 2018-09-01 2018-11-29        4.84  18582580.0 2019-03-01

## 重編財報功能

In [11]:
fp.get_by_cgrp(['損益表'],active_view=True)

0        稅前息前淨利
1         非營業利益
2         常續性利益
3        非常續性利益
4          營業利益
5            毛利
6         特別股股息
7       母公司每股盈餘
8         母公司淨利
9           淨利潤
10         利潤總額
11         營業利潤
12      非控制權益損益
13      資本化利息支出
14         利息支出
15         利息收入
16     策略投資評價損益
17     策略投資處分損益
18    策略投資權益法損益
19       其他投資損益
20         期權損益
21       定息投資損益
22         評價損益
23         匯兌損益
24    合併方合併前淨利潤
25        其他調整項
26       其他營運損益
27          所得稅
28       無形資產減損
29       油氣資產減損
30       生物資產減損
31       固定資產減損
32       處分資產損益
33         營業費用
34       異業營業成本
35        營業總成本
36         營業成本
37       異業營業收入
38        營業總收入
39         營業收入
Name: cdesc, dtype: object

In [12]:
acc_names = fp.get_by_word('淨利潤',active_view=True).values.tolist()
acc_names

['淨利潤-CF', '淨利潤', '合併方合併前淨利潤']

In [13]:
acc_codes = fp.get_acc_code(acc_names,active_view=True)
acc_codes

['ISNI', 'CISNI', 'IP97']

In [16]:
fp.get_announce(sample_dates=['2015-01-02','2019-01-02']).head(3)

      coid                     mdate                     zdate
None
0     2002 2018-09-01 00:00:00+00:00 2018-11-12 00:00:00+00:00
1     2330 2018-09-01 00:00:00+00:00 2018-11-13 00:00:00+00:00
2     2882 2018-09-01 00:00:00+00:00 2018-11-29 00:00:00+00:00

In [15]:
fp.get_active_report(query_code=acc_codes,sample_dates=['2015-01-02','2019-01-02'])

成功查詢重編家數：2
需檢查非重編家數：1
成功查詢會計家數:2

,coid,mdate,fin_od,zdate,淨利潤,淨利潤-CF,合併方合併前淨利潤,semester
51,2002,2015-03-01,1,2015-05-08,4794629.0,6039319.0,0.0,1
50,2002,2015-03-01,2,2016-05-11,4794629.0,6039319.0,0.0,1
49,2002,2015-06-01,1,2015-08-12,3315961.0,4567264.0,0.0,2
48,2002,2015-06-01,2,2016-08-10,3315961.0,4567264.0,0.0,2
47,2002,2015-09-01,1,2015-11-11,1141327.0,1295037.0,0.0,3
46,2002,2015-09-01,2,2016-11-08,1141327.0,1295037.0,0.0,3
45,2002,2015-12-01,1,2016-03-25,-1632498.0,-2396010.0,0.0,4
44,2002,2015-12-01,2,2017-03-22,-1632498.0,-2396010.0,0.0,4
43,2002,2016-03-01,1,2016-05-11,730347.0,830939.0,0.0,1
42,2002,2016-03-01,2,2017-05-10,730347.0,830939.0,0.0,1
41,2002,2016-06-01,1,2016-08-10,6350625.0,7017948.0,0.0,2
40,2002,2016-06-01,2,2017-08-09,6350625.0,7017948.0,0.0,2
39,2002,2016-09-01,1,2016-11-08,7629895.0,8824980.0,0.0,3
38,2002,2016-09-01,2,2017-11-13,7629895.0,8824980.0,0.0,3
37,2002,2016-12-01,1,2017-03-22,4476457.0,5225300.0,0.0,4
36,2002,2016-12-01,2,2018-03-28,4476457.0,5225300.0,0.0,4
35,2002,2017-03-01,1,2017-05-10,4680799.0,5389720.0,0.0,1
34,2002,2017-03-01,2,2018-05-09,4680799.0,5389720.0,0.0,1
33,2002,2017-06-01,1,2017-08-09,4005105.0,4424100.0,0.0,2
32,2002,2017-06-01,2,2018-08-10,4005105.0,4424100.0,0.0,2
31,2002,2017-09-01,1,2017-11-13,4248765.0,5032121.0,0.0,3
30,2002,2017-09-01,2,2018-11-12,4248765.0,5032121.0,0.0,3
29,2002,2017-12-01,1,2018-03-28,7496521.0,8557356.0,0.0,4
28,2002,2018-03-01,1,2018-05-09,5459349.0,5735092.0,0.0,1
27,2002,2018-06-01,1,2018-08-10,7593712.0,8145221.0,0.0,2
26,2002,2018-09-01,1,2018-11-12,8180249.0,9714062.0,0.0,3
25,2330,2015-03-01,1,2015-05-11,78983908.0,88258980.0,0.0,1
24,2330,2015-03-01,2,2016-05-11,78983908.0,88258980.0,0.0,1
23,2330,2015-06-01,1,2015-08-11,79412904.0,98131683.0,0.0,2
22,2330,2015-06-01,2,2016-08-04,79412904.0,98131683.0,0.0,2
21,2330,2015-09-01,1,2015-11-11,75317300.0,83394619.0,0.0,3
20,2330,2015-09-01,2,2016-11-09,75317300.0,83394619.0,0.0,3
19,2330,2015-12-01,1,2016-02-04,72842055.0,80643629.0,0.0,4
18,2330,2015-12-01,2,2017-02-16,72842055.0,80643629.0,0.0,4
17,2330,2016-03-01,1,2016-05-11,64792597.0,72255899.0,0.0,1
16,2330,2016-03-01,2,2017-05-10,64792597.0,72255899.0,0.0,1
15,2330,2016-06-01,1,2016-08-04,72528279.0,93406391.0,0.0,2
14,2330,2016-06-01,2,2017-08-08,72528279.0,93406391.0,0.0,2
13,2330,2016-09-01,1,2016-11-09,96789113.0,108249615.0,0.0,3
12,2330,2016-09-01,2,2017-11-14,96789113.0,108249615.0,0.0,3
11,2330,2016-12-01,1,2017-02-16,100228247.0,112047475.0,0.0,4
10,2330,2016-12-01,2,2018-02-21,100228247.0,112047475.0,0.0,4
9,2330,2017-03-01,1,2017-05-10,87620908.0,97822499.0,0.0,1
8,2330,2017-03-01,2,2018-05-02,87620908.0,97822499.0,0.0,1
7,2330,2017-06-01,1,2017-08-08,66270652.0,86117467.0,0.0,2
6,2330,2017-06-01,2,2018-08-14,66270652.0,86117467.0,0.0,2
5,2330,2017-09-01,1,2017-11-14,89949228.0,100518164.0,0.0,3
4,2330,2017-09-01,2,2018-11-13,89949228.0,100518164.0,0.0,3
3,2330,2017-12-01,1,2018-02-21,99306060.0,111674900.0,0.0,4
2,2330,2018-03-01,1,2018-05-02,89787574.0,99943621.0,0.0,1
1,2330,2018-06-01,1,2018-08-14,72293375.0,87587608.0,0.0,2
0,2330,2018-09-01,1,2018-11-13,89098072.0,98896942.0,0.0,3