In [1]:
import tejapi
tejapi.ApiConfig.api_key = "GDEy0mWAGqnI3EemCREGREZMcEVbnF"

# 範例一 總經
#### key值為coid+mdate，要把coid變成欄位名稱，只有val一個欄位的值，等於少一個key的財務資料
#### https://api.tej.com.tw/columndoc.html?subId=2
##### 此類轉換只要指定的coid不多，python處理起來速度不慢

In [31]:
data = tejapi.get('GLOBAL/ANMAR',mdate='2020-02-01')
print(data.head(5))

# 使用者指定要查詢並轉置的coid
all_coid = ['SM11G', 'SM1102', 'SM11', 'SM06G', 'SM0602', 'SM06', 'SM0502', 'SM05', 'SB9918', 'SB9917', 'SB9916', 'SB9912', 'SB9911', 'SB9910', 'SB9909', 'SB9908', 'SB9907', 'SB9906', 'SB9905', 'SB9904', 'SB9903', 'SB9902', 'SB99', 'SB98', 'SB97', 'SB9602', 'SB96', 'SB9305', 'SB9303', 'SB93', 'SB92', 'SB9103', 'SB9102', 'SB91', 'SB90', 'SB89', 'SB86', 'SB8302', 'SB83', 'SB82', 'SB81', 'SB80', 'SB7974', 'SB7973', 'SB7962', 'SB7961', 'SB7960', 'SB7959', 'SB7958', 'SB7957', 'SB7956', 'SB7955', 'SB7954', 'SB7953', 'SB7952', 'SB7951', 'SB7950', 'SB7949', 'SB7948', 'SB7946', 'SB7945', 'SB7944', 'SB7937', 'SB7936', 'SB7935', 'SB7926', 'SB7925', 'SB7922', 'SB7921', 'SB7920', 'SB7919', 'SB7918', 'SB7917', 'SB7916', 'SB7915', 'SB7912', 'SB7911', 'SB7910', 'SB7909', 'SB7908', 'SB7907', 'SB7906', 'SB7905', 'SB7904', 'SB7903', 'SB7902', 'SB79', 'SB7805', 'SB7803', 'SB7802', 'SB7708', 'SB7705', 'SB7704', 'SB7703', 'SB7702', 'SB76', 'SB75', 'SB7401', 'SB74', 'SB73', 'SB72', 'SB71', 'SB70',]
code_data = tejapi.get('GLOBAL/ABMAR',coid=all_coid,mdate='2020-01-01',opts={"sort":"mdate.desc",'columns':['coid','cname','cnm','ename']},paginate=True)
coid_dict = { coid[0]:coid[1] for coid in code_data[['coid','cnm']].values.tolist()}

        coid                     mdate           val pfr
None
0      SM11G 2020-02-01 00:00:00+00:00  2.880410e+01   R
1     SM1102 2020-02-01 00:00:00+00:00  8.191800e+04   R
2       SM11 2020-02-01 00:00:00+00:00  7.197820e+05   R
3      SM06G 2020-02-01 00:00:00+00:00  8.950400e+00   R
4     SM0602 2020-02-01 00:00:00+00:00  4.913236e+07   R

In [32]:
anmar_1d = None
for coid in all_coid:
    temp_data = data.loc[data['coid']==coid,['mdate','val']].rename(columns={'val':coid})
    if anmar_1d is None:
        anmar_1d = temp_data
    else:
        anmar_1d = anmar_1d.merge(temp_data,on=['mdate'],how='outer')
anmar_1d.rename(columns=coid_dict)

,mdate,上市股票融券年增率,上櫃股票融券股數餘額,上市股票融券股數餘額,上市股票融資年增率,上櫃股票融資餘額,上市股票融資餘額,上櫃融券股餘額金額,上市股票融資股數餘額,MSCI-歐洲指數USD-G,...,孟買200股價指數,孟買100股價指數,威靈頓NZSE--50指數,法國巴黎CAC 40指數,奧斯陸OBX PRICE 指數,奧斯陸OBX股價指數,斯德哥爾摩股價指數,蘇黎世市場指數SMI,費城半導體指數,印尼雅加達JSX指數
0,2020-02-01 00:00:00+00:00,28.8041,81918.0,719782.0,8.9504,49132362.0,132112918.0,1679999.0,6944430.0,10759.514,...,5108.22,12236.18,11834.54,6054.76,470.72,831.97,721.81,11101.17,1931.08,5954.4

# 範例二 匯率
##### key值為coid+mdate，要把coid變成欄位名稱，但是可使用的欄位卻不只val一個，指定'close_ny'(原抓檔值)作轉換
##### https://api.tej.com.tw/columndoc.html?subId=5
##### 此類轉換只要指定的coid不多，python處理起來速度不慢

In [24]:
data = tejapi.get('GLOBAL/GCURR',mdate='2020-02-11')
print(data.head(5))

# 使用者指定要查詢並轉置的coid
all_coid = ['ZAR','VND','UYU','USD']

     coid                     mdate    close_ny   clschg     tuse2  \
None
0     ZAR 2020-02-11 00:00:00+00:00     14.8213  -0.1564  0.067470
1     VND 2020-02-11 00:00:00+00:00  23243.0000 -19.0000  0.000043
2     UYU 2020-02-11 00:00:00+00:00     37.7300   0.1800  0.026504
3     USD 2020-02-11 00:00:00+00:00      1.0000      NaN  1.000000
4     UAH 2020-02-11 00:00:00+00:00     24.4328  -0.0693  0.040929

           tntd1      tntd2
None
0       0.493385   2.026813
1     773.735020   0.001292
2       1.255992   0.796183
3       0.033289  30.040000
4       0.813342   1.229495

In [25]:
gcurr_1d = None
for coid in all_coid:
    temp_data = data.loc[data['coid']==coid,['mdate','close_ny']].rename(columns={'close_ny':coid})
    if gcurr_1d is None:
        gcurr_1d = temp_data
    else:
        gcurr_1d = gcurr_1d.merge(temp_data,on=['mdate'],how='outer')
gcurr_1d

                      mdate      ZAR      VND    UYU  USD
0 2020-02-11 00:00:00+00:00  14.8213  23243.0  37.73  1.0

# 範例三 長期投資明細
##### key值為coid+mdate+key3，要把key3按照使用者指定欄位名稱的值進行轉置，使用型態跟現在財報轉置較像，但多了使用者可指定欄位的差異
##### https://api.tej.com.tw/columns.html?idCode=TWN/AINV

In [22]:

# 使用者希望轉置此欄位的值
column_name = 'fld009'

# 使用者指定要查詢並轉置的coid
all_key3 = ['ZZZZZZZ合計']

data = tejapi.get('TWN/AINV',mdate='2018-03-01')
print(data.head(5))

      coid                     mdate          key3  \
None
0     9962 2018-03-01 00:00:00+00:00     ZZZZZZZ合計
1     9962 2018-03-01 00:00:00+00:00   8070   長華電材
2     9962 2018-03-01 00:00:00+00:00  3045   台灣大哥大
3     9960 2018-03-01 00:00:00+00:00     ZZZZZZZ合計
4     9960 2018-03-01 00:00:00+00:00   D0BRF  彭博實業

                                      key3_e   fld005 fld006  fld007  fld008  \
None
0                              ZZZZZZZ Total      NaN    NTD     0.0     NaN
1     8070   Chang Wah Electromaterials Inc.      NaN    NTD    87.0     NaN
2             3045   Taiwan Mobile Co., Ltd.      NaN    NTD   100.0     NaN
3                              ZZZZZZZ Total      NaN    NTD     0.0     NaN
4          D0BRF  Peng Bo Enterprise Limited  10000.0    NTD  1000.0   100.0

      fld009 fld010_c  ... niq_nicur  incomeq fld013  fld014   fld015 fld016  \
None                   ...
0      24094           ...                NaN    NaN     NaN      NaN      N
1      13094     綜合公允  ...       NTD      NaN    NaN   150.5  13094.0      N
2      11000     綜合公允  ...       NTD      NaN    NaN   110.0  11000.0      N
3     232074           ...                NaN    NaN     NaN      NaN      N
4       7433      權益法  ...       NTD   -522.0    NaN     NaN      NaN      N

      inv_type  nation_c  nation_e         ind_note
None
0                     台灣    Taiwan
1            1        台灣    Taiwan   IC封裝材料及設備之代理經銷
2            1        台灣    Taiwan  第一類電信事業, 行動電話業務
3                     台灣    Taiwan
4            1        台灣    Taiwan        高爾夫球具買賣經銷

[5 rows x 25 columns]

In [23]:
acinv_2d = None
for key3 in all_key3:
    temp_data = data.loc[data['key3']==key3,['mdate','coid',column_name]].rename(columns={column_name:key3})
    print(temp_data)
    if acinv_2d is None:
        acinv_2d = temp_data
    else:
        acinv_2d = acinv_2d.merge(temp_data,on=['mdate','coid'],how='outer')

                         mdate  coid  ZZZZZZZ合計
None
0    2018-03-01 00:00:00+00:00  9962      24094
3    2018-03-01 00:00:00+00:00  9960     232074
22   2018-03-01 00:00:00+00:00  9958     700478
27   2018-03-01 00:00:00+00:00  9955     404016
32   2018-03-01 00:00:00+00:00  9951    1172212
...                        ...   ...        ...
9978 2018-03-01 00:00:00+00:00  2731     992586
9985 2018-03-01 00:00:00+00:00  2729     422391
9990 2018-03-01 00:00:00+00:00  2727    1775790
9995 2018-03-01 00:00:00+00:00  2726     920181
9999 2018-03-01 00:00:00+00:00  2724     349156

[1174 rows x 3 columns]